streamlit==1.38.0
geopandas==0.14.3
pandas==2.2.2
numpy==1.26.4
matplotlib==3.9.2
shapely==2.0.5
fiona==1.9.6
pyproj==3.6.1
requests==2.32.3
fpdf2==2.7.9
python-docx==1.1.2
contextily==1.5.3
geojson==3.1.0

